In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('sudoku.csv', delimiter=',', nrows=1000)

In [3]:
df1.shape

(1000, 2)

In [5]:
df1.head(5)

,quizzes,solutions
0,0043002090050090010700600430060020871900074000...,8643712593258497619712658434361925871986574322...
1,0401000501070039605200080000000000170009068008...,3461792581875239645296483719658324174729168358...
2,6001203840084590720000060050002640300700800069...,6951273841384596727248369158512647392739815469...
3,4972000001004000050000160986203000403009000000...,4972583161864397252537164986293815473759641828...
4,0059103080094030600275001000300002010008200070...,4659123781894735623275681497386452919548216372...

In [41]:
df2 = df1.iloc[0, 0]
type(df2)

str

In [40]:
input_string = str(df2)

# Split the input string into rows of length 9
rows = [input_string[i:i+9] for i in range(0, len(input_string), 9)]

# Split each row into individual numbers and convert them to integers
grid_value = [[int(num) for num in row] for row in rows]

print(grid_value)

[[0, 1, 2, 3, 4, 5, 6, 7, 8], [9, 10, 11, 12, 13, 14, 15, 16, 17], [18, 19, 20, 21, 22, 23, 24, 25, 26], [27, 28, 29, 30, 31, 32, 33, 34, 35], [36, 37, 38, 39, 40, 41, 42, 43, 44], [45, 46, 47, 48, 49, 50, 51, 52, 53], [54, 55, 56, 57, 58, 59, 60, 61, 62], [63, 64, 65, 66, 67, 68, 69, 70, 71], [72, 73, 74, 75, 76, 77, 78, 79, 80]]

In [39]:
grid_value[0][2]

4

In [26]:
def list_shape(input_list):
    num_rows = len(input_list)
    num_cols = len(input_list[0]) if input_list else 0  # Assuming all rows have the same length
    return num_rows, num_cols

# Example usage:
arr = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
shape = list_shape(arr)
print("Shape:", shape)  # Output: (3, 3)

Shape: (3, 3)